In [20]:
import os
import sys
import pandas as pd
sys.path.append(os.path.dirname(os.path.abspath(os.getcwd())) + "/..")
if os.getcwd().endswith("Topic1"):
    os.chdir("..")
    print(f"Changed to {os.getcwd()}")
from codebase import get_total_inhabitants_and_willingness, number_of_residents_in_detour

In [21]:
within_mins = 50
punt = "trein" # ibis, hbo_wo, mbo, basis, highschool, bus, trein
mode = "fiets" # fiets, ebike
location = "Train - NS" # Elementary Schools, High Schools, Universities, Train - NS, Train - Local

total, total_willing = get_total_inhabitants_and_willingness(punt1=punt, mode=mode, within_mins=within_mins, location=location, verbose=True)

Loaded file from CSV
Total inhabitants within 50 minutes of trein from buurt: 16790525 of 17811291 = 94.27% of the Netherlands
Total willingness to cycle of those: 9752691 of 16790525 = 58.08%

In [22]:
######## For later use if we want to make the number of residents as a percentage of the total number of residents per gemeente ######
 
#Totoal number of residents per gemeente

# df_total = number_of_residents_in_detour(0, punt, mode, within_mins)
# df_total

In [23]:
detour_factor = 2
within_mins = 30

df = number_of_residents_in_detour(detour_factor, punt, mode, within_mins)
df

Loaded file from CSV

,train_id,bu_code,reistijd_min,reisafstand_m,afstand_hemelsbreed_m,omrijdfactor,a_inw,gm_naam
47,415,BU02680970,3.0,929.0,402,2.31,13400,Nijmegen
89,425,BU02680320,5.0,1507.0,626,2.41,9220,Nijmegen
129,352,BU04020703,8.0,1299.0,546,2.38,7560,Hilversum
31,375,BU04793210,3.0,993.0,492,2.02,6325,Zaanstad
7,497,BU02850100,2.0,665.0,297,2.24,5380,Voorst
...,...,...,...,...,...,...,...,...
128,247,BU03840703,8.0,1955.0,961,2.03,0,Diemen
144,367,BU09940405,10.0,1981.0,980,2.02,0,Valkenburg aan de Geul
118,207,BU04895075,7.0,1334.0,553,2.41,0,Barendrecht
153,247,BU03840205,11.0,1842.0,717,2.57,0,Diemen
170,188,BU0363BA04,17.0,4774.0,2378,2.01,0,Amsterdam

In [24]:
grouped = df.groupby(['gm_naam']).sum('a_inw').sort_values(by='a_inw', ascending=False)
grouped

,train_id,reistijd_min,reisafstand_m,afstand_hemelsbreed_m,omrijdfactor,a_inw
gm_naam,,,,,,
Nijmegen,840,8.0,2436.0,1028,4.72,22620
Stichtse Vecht,4293,92.0,25103.0,10470,30.19,12575
Zaanstad,933,6.0,1878.0,828,4.66,10990
Hilversum,704,16.0,3018.0,1172,5.13,8240
Venlo,2600,25.0,7248.0,3078,12.26,8170
...,...,...,...,...,...,...
Meppel,409,4.0,556.0,193,2.88,40
Hardinxveld-Giessendam,411,6.0,1523.0,698,2.18,30
Enschede,574,17.0,4532.0,1525,6.02,25
Coevorden,241,3.0,256.0,111,2.30,10
Sliedrecht,439,6.0,1847.0,505,3.66,0